@font-face {
  font-family: 'Inter';
  src: url(./fonts/inter/Inter-Regular.woff2) format('woff2'),
    url(./fonts/inter/Inter-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/inter/Inter-Bold.woff2) format('woff2'),
    url(./fonts/inter/Inter-Bold.woff) format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/inter/Inter-Black.woff2) format('woff2'),
    url(./fonts/inter/Inter-Black.woff) format('woff');
  font-weight: 900;
}



.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2A2C2F;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', Arial, sans-serif;
}

/* header */
.header {
  width: calc(100% - 96px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 56px;
}

.header__logo {
  width: 176px;
}

.header__list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 18px;
}

.header__lang-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.header__lang-link_state_isactive {
  text-decoration: underline;
}

/* lead */
.lead {
  width: calc(100% - 2 * 148px);
  margin: 0 auto;
}

.lead__title {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #fff;
}

.lead__subtitle {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

.lead__figure {
  margin: 0;
  width: 100%;
}

.lead__image {
  width: 100%;
}

.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
}

/* intro */

.intro {
  width: calc(100% - 2 * 148px);
  margin: 0 auto;
  padding: 92px 0;
}

.intro__title {
  max-width: 690px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
}

.intro__text {
  max-width: 690px;
  margin: 0;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
}

.intro__list {
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

/* photo-grid */

.photo-grid {
  width: calc(100% - 96px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
  gap: 16px;
  padding-bottom: 92px;
}

.photo-grid__item {
  width: 100%;
}


/* places */
.places {
  width: calc(100% - 2 * 148px);
  margin: 0 auto;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 48px 40px;
}

.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
}

.place__website {
  align-self: flex-end;
}

.place__website-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  opacity: .3;
  transition: opacity 3s linear;
}

.place__link:hover {
  opacity: .8;
}

.place__image {
  width: 100%;
}

.place__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
}

.place__paragraph:not(:last-child) {
  margin-bottom: 26px;
}

/* cover */

.cover {
  width: calc(100% - 96px);
  margin: 0 auto;
}

.cover__background {
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  background-image: url(./images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.cover__background::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2A2C2F;
  opacity: .3;
  transition: opacity 3s linear;
}

.cover__background:hover::before {
  opacity: .8;
}

.cover__title {
  max-width: 560px;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.cover__subtitle {
  max-width: 360px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  position: relative;
  z-index: 1;
}

/* footer */

.footer {
  width: calc(100% - 96px);
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 18px;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}


@media (max-width: 1024px) {
  .lead {
    width: calc(100% - 96px);
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .intro {
    width: calc(100% - 96px);

  }

  .photo-grid {
    width: calc(100% - 96px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 14px;

  }

  .places {
    width: calc(100% - 96px);

  }

  .place {
    gap: 48px 38px;
  }

  .place__paragraph:not(:last-child) {
    margin-bottom: 27px;
  }

  .cover {
    width: 100%;
  }

  .cover__background {
    min-height: 640px;
  }
}


@media (max-width: 768px) {

  .header {
    width: calc(100% - 48px);
    padding-bottom: 48px;
  }

  .lead {
    width: 100%;

  }

  .lead__caption {
    padding-left: 24px;
  }

  .intro {
    width: calc(100% - 48px);
    padding: 88px 0;
  }

  .intro__title {
    max-width: 720px;
  }

  .intro__text {
    max-width: 720px;
  }

  .photo-grid {
    width: calc(100% - 48px);
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    padding-bottom: 88px;
  }

  .places {
    width: calc(100% - 48px);
    padding-bottom: 90px;
    gap: 73px;
  }

  .place {
    gap: 48px 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .cover__background {
    min-height: 480px;
  }

  .footer {
    width: calc(100% - 48px);
    padding-top: 88px;
  }

}
