@font-face {
  font-family: 'Inter';
  src: url(./fonts/inter/Inter-Regular.woff2) format('woff2'),
    url(./fonts/inter/Inter-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/inter/Inter-Bold.woff2) format('woff2'),
    url(./fonts/inter/Inter-Bold.woff) format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/inter/Inter-Black.woff2) format('woff2'),
    url(./fonts/inter/Inter-Black.woff) format('woff');
  font-weight: 900;
}



.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2A2C2F;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* header */
.header {
  width: calc(100% - 2 * 48px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 56px;
}

.header__logo {
  width: 176px;
}

.header__list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 18px;
}

.header__lang-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.header__lang-link_state_active {
  text-decoration: underline;
}

/* lead */
.lead {
  width: calc(100% - 2 * 148px);
  margin: 0 auto;
}

.lead__title {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #fff;
}

.lead__subtitle {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

.lead__figure {
  margin: 0;
  width: 100%;
}

.lead__image {
  width: 100%;
}

.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
}

/* intro */

.intro {
  width: calc(100% - 2 * 148px);
  margin: 0 auto;
  padding: 92px 0;
}

.intro__title {
  max-width: 690px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
}

.intro__text {
  max-width: 690px;
  margin: 0;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
}

.intro__list {
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

/* photo-grid */

.photo-grid {
  width: calc(100% - 2 * 48px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}


/* places */

/* cover */

.cover {
  width: calc(100% - 96px);
  margin: 0 auto;
}

.cover__background {
  width: 100%;
  min-height: 740px;
  position: relative;
  background-image: url(./images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2A2C2F;
  opacity: .3;
  transition: opacity 2s linear;
  text-decoration: none;
}

.cover__overlay:hover {
  opacity: .8;
}

.cover__title {
  max-width: 560px;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
}

.cover__subtitle {
  max-width: 360px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
