.intro {
  width: calc(100% - 2 * 148px);
  margin: 0 auto;
  padding: 92px 0;
}

@media (max-width: 1024px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
    padding: 88px 0;
  }
}


@media (max-width: 540px) {
  .intro {
    width: calc(100% - 32px);
    padding: 64px 0;
  }
}
